.about{
background-color: #0a2850;
color: #fff;
position: relative;
overflow: hidden;
padding: 100px 80px;
}

.about__title{
  margin: 0;
  max-width: 251px;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;

  position: relative;
  z-index: 1;
}

.about__content{
  position: relative;
  z-index: 1;
  max-width: 660px;
  margin-left: auto;
}

.about__paragraph{
  margin: 0 0 20px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__circle{
  width: 426px;
  height: 426px;
  border-radius: 50%;
  background-color: #1878dc;

  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred{
  opacity: 0;
  animation: pulsate 1.3s ease-in-out infinite;
}

@keyframes pulsate{
  0%{
    opacity:0;
  }

  50% {
    opacity: 0.6;
  }

  100%{
    opacity: 0;
    transform: scale(1.2);
    }
}