.card{
  width: 540px;
}

.card__title{
  margin: 0 0 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.card__list{
  list-style: none;
  margin: 0;
  padding: 0;

  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item{
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 0 0 16px
}

.card__list-item:last-child{
  margin-bottom: 0;
}