.menu{
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}

.menu__title{
  margin: 0 auto 24px;
  text-align: center;
  max-width: 780px;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle{
  margin: 0 auto 100px;
  text-align: center;
  max-width: 780px;

  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards{
  margin: 0 auto;
  max-width: 1180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}


