.recipes{
  background-color:#0a2850;
  background-image:url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px;
  color: #ffffff;
}

.recipes__title{
  margin: 0px;
  max-width: 580px;
  font-family: "Inter", "Arial", sans-serif;
  font-size:44px;
  line-height:52px;
  font-weight:500;
}

.recipes__subtitle{
  margin:24px 0 0;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos{
  margin: 80px auto 0px;
  display: flex;
  gap: 40px;
  max-width:1000px;
}

.recipes__iframe{
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption{

  margin: 24px 0 0;
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}