.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  z-index: 0;
  background: #fff url("../images/background_header.svg") no-repeat center/cover;
  box-sizing: border-box;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
}

.header__span-accent {
  color: #3f96f3;
  font-style: italic;
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  z-index: -1;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  color: #6f6f6f;
  font-weight: 500;
}

.header__paragraph {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 500;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.footer {
  padding: 60px 80px;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  box-sizing: border-box;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  margin: 0 0 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__copyright {
  margin: 108px 0 0;
}

.recipes{
  background-color:#0a2850;
  background-image:url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px;
  color: #ffffff;
}

.recipes__title{
  margin: 0px;
  max-width: 580px;
  font-family: "Inter", "Arial", sans-serif;
  font-size:44px;
  line-height:52px;
  font-weight:500;
}

.recipes__subtitle{
  margin:24px 0 0;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos{
  margin: 80px auto 0px;
  display: flex;
  gap: 40px;
  max-width:1000px;
}

.recipes__iframe{
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption{

  margin: 24px 0 0;
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation{
  background: #d9e7ff url("../images/background_reservation.svg") no-repeat center/cover;
  padding: 100px 0 120px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.reservation__title{
  margin: 0 auto 80px;
  text-align: center;
  font-family: "Inter";
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  color: #000;
}

.reservation__form{
  margin: 0 auto;
  max-width: 385px;
}

.reservation__fieldset{
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.reservation__label{
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.reservation__input{
  box-sizing: border-box;
  width:100%;
  height: 60px;
  margin: 0 0 32px;
  padding: 0 20px;
  border: 1px solid #838383;
  border-radius: 4px;
  font-family: "Inter" , "Arial" , sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.reservation__input::placeholder{
  color: #838383;
}

.reservation__input:focus{
  outline: 1px solid #2f71e5;
}

.reservation__button{
  width: 100%;
  height: 60px;
  margin: 0 0 32px;
  border: none;
  border-radius: 4px;
  background-color: #1878dc;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
}

.reservation__checkbox-label{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.reservation__checkbox{
  margin:0;
}

.menu{
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}

.menu__title{
  margin: 0 auto 24px;
  text-align: center;
  max-width: 780px;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle{
  margin: 0 auto 100px;
  text-align: center;
  max-width: 780px;

  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards{
  margin: 0 auto;
  max-width: 1180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.card{
  width: 540px;
}

.card__title{
  margin: 0 0 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.card__list{
  list-style: none;
  margin: 0;
  padding: 0;

  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item{
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 0 0 16px
}

.card__list-item:last-child{
  margin-bottom: 0;
}

.about{
background-color: #0a2850;
color: #fff;
position: relative;
overflow: hidden;
padding: 100px 80px;
}

.about__title{
  margin: 0;
  max-width: 251px;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;

  position: relative;
  z-index: 1;
}

.about__content{
  position: relative;
  z-index: 1;
  max-width: 660px;
  margin-left: auto;
}

.about__paragraph{
  margin: 0 0 20px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph: last-child{
  margin-bottom: 0;
}

.about__circle{
  width: 426px;
  height: 426px;
  border-radius: 50%;
  background-color: #1878dc;

  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred{
  opacity: 0;
  animation: pulsate 1.3s ease-in-out infinite;
}

@keyframes pulsate{
  0%{
    opacity:0;
  }
  50% {
    opacity: 0.6;
  }
  100%{
    opacity: 0;
    transform: scale(1.5);
    }
}